/* Coolors Exported Palette - https://coolors.co/000000-220608-440b10-661118-871721-a91d29-cb2231-ed2839 */

/* CSS HEX */
--black: #000000ff;
--licorice: #220608ff;
--black-bean: #440B10ff;
--rosewood: #661118ff;
--falu-red: #871721ff;
--auburn: #A91D29ff;
--fire-engine-red: #CB2231ff;
--red-pantone: #ED2839ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--licorice: hsla(356, 70%, 8%, 1);
--black-bean: hsla(355, 72%, 15%, 1);
--rosewood: hsla(355, 71%, 23%, 1);
--falu-red: hsla(355, 71%, 31%, 1);
--auburn: hsla(355, 71%, 39%, 1);
--fire-engine-red: hsla(355, 71%, 46%, 1);
--red-pantone: hsla(355, 85%, 54%, 1);

/* SCSS HEX */
$black: #000000ff;
$licorice: #220608ff;
$black-bean: #440B10ff;
$rosewood: #661118ff;
$falu-red: #871721ff;
$auburn: #A91D29ff;
$fire-engine-red: #CB2231ff;
$red-pantone: #ED2839ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$licorice: hsla(356, 70%, 8%, 1);
$black-bean: hsla(355, 72%, 15%, 1);
$rosewood: hsla(355, 71%, 23%, 1);
$falu-red: hsla(355, 71%, 31%, 1);
$auburn: hsla(355, 71%, 39%, 1);
$fire-engine-red: hsla(355, 71%, 46%, 1);
$red-pantone: hsla(355, 85%, 54%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$licorice: rgba(34, 6, 8, 1);
$black-bean: rgba(68, 11, 16, 1);
$rosewood: rgba(102, 17, 24, 1);
$falu-red: rgba(135, 23, 33, 1);
$auburn: rgba(169, 29, 41, 1);
$fire-engine-red: rgba(203, 34, 49, 1);
$red-pantone: rgba(237, 40, 57, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-right: linear-gradient(90deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-left: linear-gradient(270deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);
$gradient-radial: radial-gradient(#000000ff, #220608ff, #440B10ff, #661118ff, #871721ff, #A91D29ff, #CB2231ff, #ED2839ff);