/* Coolors Exported Palette - https://coolors.co/ed2839-f04755-f26572-f5848e-f7a3aa-fac2c6-fce0e3-ffffff */

/* CSS HEX */
--red-pantone: #ED2839ff;
--folly: #F04755ff;
--bright-pink-crayola: #F26572ff;
--light-coral: #F5848Eff;
--salmon-pink: #F7A3AAff;
--tea-rose-red: #FAC2C6ff;
--misty-rose: #FCE0E3ff;
--white: #FFFFFFff;

/* CSS HSL */
--red-pantone: hsla(355, 85%, 54%, 1);
--folly: hsla(355, 85%, 61%, 1);
--bright-pink-crayola: hsla(354, 84%, 67%, 1);
--light-coral: hsla(355, 85%, 74%, 1);
--salmon-pink: hsla(355, 84%, 80%, 1);
--tea-rose-red: hsla(356, 85%, 87%, 1);
--misty-rose: hsla(354, 82%, 93%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$red-pantone: #ED2839ff;
$folly: #F04755ff;
$bright-pink-crayola: #F26572ff;
$light-coral: #F5848Eff;
$salmon-pink: #F7A3AAff;
$tea-rose-red: #FAC2C6ff;
$misty-rose: #FCE0E3ff;
$white: #FFFFFFff;

/* SCSS HSL */
$red-pantone: hsla(355, 85%, 54%, 1);
$folly: hsla(355, 85%, 61%, 1);
$bright-pink-crayola: hsla(354, 84%, 67%, 1);
$light-coral: hsla(355, 85%, 74%, 1);
$salmon-pink: hsla(355, 84%, 80%, 1);
$tea-rose-red: hsla(356, 85%, 87%, 1);
$misty-rose: hsla(354, 82%, 93%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$red-pantone: rgba(237, 40, 57, 1);
$folly: rgba(240, 71, 85, 1);
$bright-pink-crayola: rgba(242, 101, 114, 1);
$light-coral: rgba(245, 132, 142, 1);
$salmon-pink: rgba(247, 163, 170, 1);
$tea-rose-red: rgba(250, 194, 198, 1);
$misty-rose: rgba(252, 224, 227, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-right: linear-gradient(90deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-bottom: linear-gradient(180deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-left: linear-gradient(270deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-top-right: linear-gradient(45deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-bottom-right: linear-gradient(135deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-top-left: linear-gradient(225deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-bottom-left: linear-gradient(315deg, #ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);
$gradient-radial: radial-gradient(#ED2839ff, #F04755ff, #F26572ff, #F5848Eff, #F7A3AAff, #FAC2C6ff, #FCE0E3ff, #FFFFFFff);